html {
width: 100%;
overflow-x: auto;
overflow-y: overlay
}

body {
background-color: #FFF8E6;
font-family: 'Kosugi Maru', sans-serif;
}


.big {
text-decoration: none;
color: #FFAA90;
font-size: 90px;
}


.big2 {
text-decoration: none;
color: #FFAA90;
}

.big:visited {
text-decoration: none;
color: #FFAA90;
}

.big:hover {
text-decoration: underline;
color: #FFAA90;
}

.big:active {
text-decoration: underline;
color: #FFAA90;
}

.big2:visited {
text-decoration: none;
color: #FFAA90;
}

.big2:hover {
text-decoration: underline;
color: #FFAA90;
}

.big2:active {
text-decoration: underline;
color: #FFAA90;
}

/*spacing here so i don't get confused lollll*/

.normal {
text-decoration: underline;
color: #3A302E;
}

.normal:visited {
text-decoration: underline;
color: #3A302E;
}

.normal:hover {
text-decoration: underline;
color: #A09694;
}

.normal:active {
text-decoration: underline;
color: #A09694;
}

#header {
color: #FFAA90;
font-weight: bolder;
text-align: center;
margin-top: 50px;
text-shadow:
  -1px -1px 0 #FFFFF8,
  1px -1px 0 #FFFFF8,
  -1px 1px 0 #FFFFF8,
  1px 1px 0 #FFFFF8,

  -2px -2px 0 #FFFFF8,
  2px -2px 0 #FFFFF8,
  -2px 2px 0 #FFFFF8,
  2px 2px 0 #FFFFF8,

  -3px -3px 0 #FFFFF8,
  3px -3px 0 #FFFFF8,
  -3px 3px 0 #FFFFF8,
  3px 3px 0 #FFFFF8;
}

#container{
position: relative;
display: flex;
justify-content: center;
width: 100%;
padding-bottom: 50px;
}

.flex {
display: flex;
flex-direction: row;
}


#main {
background-color: #FFEC7F;
border: 3px solid;
border-color: #FFEC7F;
width: 500px;
height: 560px;
border-radius: 50px;
padding: 5px 10px;
margin-top: -50px;
}


#mini {
color: #3A302E;
background-color: #FFFFF8;
border: 3px solid;
border-color: #FFFFF8;
padding: 20px;
height: 300px;
border-radius: 50px;
overflow-y: scroll;
max-width: 460px;
width: 100%;
overflow-x: hidden;
}


#right {
list-style: none;
color: #FFAA90;
font-size: 45px;
font-weight: bolder;
margin-left: -20px;
margin-top: -50px;
text-shadow:
  -1px -1px 0 #FFFFF8,
  1px -1px 0 #FFFFF8,
  -1px 1px 0 #FFFFF8,
  1px 1px 0 #FFFFF8,

  -2px -2px 0 #FFFFF8,
  2px -2px 0 #FFFFF8,
  -2px 2px 0 #FFFFF8,
  2px 2px 0 #FFFFF8,

  -3px -3px 0 #FFFFF8,
  3px -3px 0 #FFFFF8,
  -3px 3px 0 #FFFFF8,
  3px 3px 0 #FFFFF8;
}

#godhelpme{

display: flex;
justify-content: center;
margin-right: 500px;
margin-top: -50px;
}

#foot {
color: #F6804B;
background-color: #FFFFF8;
border: 10px solid;
border-color: #FFEC7F;
margin-left: 590px;
width: 760px;
height: 100px;
resize: none; position: absolute;
border-radius: 25px;
padding: 3px 15px; 
overflow-y: scroll;
}


::-webkit-scrollbar {
width: 15px;

}

::-webkit-scrollbar-button {
height: 30px;

}

::-webkit-scrollbar-track {
background-color: #D4D2C9;
border-radius: 30px;
margin: 0px;
}

::-webkit-scrollbar-thumb {
background: #94938D;
border-radius: 25px;

}

#foot::-webkit-scrollbar-button {
height: 10px;

}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 1260px) {
  html, body {
    max-width: 1260px;
    width: 100%;
    margin: auto;
  }

  body {
    overflow-x: hidden;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
body::-webkit-scrollbar {
    display: none;
}

  #header {
    min-width: 300px;
    width: 100%;
    margin: 0px;
  }
  #header2 {
    min-width: 300px;
    width: 100%;
    margin: 0px;
  }
  .big {
    font-size: 50px;
  }
  #big {
    width: 120px ;
  }
  #container {
    max-width: 1260px;
    width: 100%;
  }
  .flex {
    flex: none;
max-width: 1260px;
    width: 100%;
  }
  #mini {
    max-width:1260px;
    width: 87%;
    margin: auto;
  }
  #main {
    max-width: 1260px;
    width: 100%;
    margin-left: 2%;
    margin-top: 0px;
    margin-right: 2%;
  }
  #right {
    display: none;
  }
#godhelpme {
    max-width: 1260px;
    width: 100%;
}
  #foot {
max-width: 1260px;
    width: 80%;
    margin-left: auto;
    margin-top: 2%;
    justify-content: center;
    font-size: 15px;
}

  #box {
max-width: 1260px;
width: 100%;
    padding: 20px;
    margin-right: 3%;
    margin-top: 0px;
    font-size: 14px;
  }

.dropdown {
  position: relative;
  display: inline-block;
    width: 80%;
  margin-bottom: 3%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #FFEC7F;
}

.dropbtn {
background-color: #FFEC7F;
  color: #3A302E;
  padding: 5px;
  font-size: 16px;
  border: none;
    max-width: 1260px;
    width: 80%;
    font-family: 'Helvetica', 'Arial', sans-serif;
font-weight: bold;
border-radius: 10px;
}

.dropdown a:hover {background-color: #ddd;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFF8;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;
max-width: 1260px;
    width: 80%;
border-radius: 10px;}
  nav select { 
display: inline-block;
max-width: 1260px;
    width: 80%;
    margin-bottom: 2%;
}
  nav {
    max-width: 1260px;

    margin-left: 25%;
    margin-top: -20px;
}
}
