

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

body {
background-color: #000000;
font-family: 'Kiwi Maru', serif;

}

.flex {
display: flex;
flex-direction: row;
width: 1300px;
}

#thoughtcontainer {
margin-top: 75px;
}

#bubble {
margin-left: -170px;
}

#wah {
margin-top: 450px;
margin-right: -75px;
position: static;
z-index: 1;

}

#thoughtbox {
background-color: #FFFFFF;
width: 900px;
height: 390px;
margin-left: -1025px;
margin-top: 175px;
position: static;
z-index: 0;
}

#topbar {
}

h3{
    padding: 2px;
    margin: 0px;
}

#bottomrow {
overflow-y: scroll;
height: 320px;
}